nodered-flow-v2
[{"id":"837cb573.4f1348","type":"luxtronik2 read","z":"dac6bad9.affa28","name":"Heatpump","host":"10.10.10.4","port":"8888","x":290,"y":100,"wires":[["4a704d76.140c84","dc7478fa.a77388","85d796e.c8a0a68","38b42883.a55548","f68b72d9.9ec05"]]},{"id":"e2489998.12c058","type":"inject","z":"dac6bad9.affa28","name":"Every 1 minute","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["837cb573.4f1348"]]},{"id":"129792e8.3485ad","type":"mqtt out","z":"dac6bad9.affa28","name":"Domoticz","topic":"domoticz/in","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a9f52ee.ae4ffd","x":980,"y":300,"wires":[]},{"id":"4a704d76.140c84","type":"function","z":"dac6bad9.affa28","name":"Send values","func":"var tempbuiten = msg.payload.values.temperature_outside;\nvar tempheetwater = msg.payload.values.temperature_hot_water;\nvar tempheetgas = msg.payload.values.temperature_hot_gas;\nvar flowbron = msg.payload.values.Durchfluss_WQ;\n\nmsg1={};\nmsg1.payload = {};\nmsg1.payload.idx = 924;\nmsg1.payload.svalue = \"\" + tempbuiten;\n\nmsg2={};\nmsg2.payload = {};\nmsg2.payload.idx = 200;\nmsg2.payload.svalue = \"\" + tempheetwater;\n\nmsg3={};\nmsg3.payload = {};\nmsg3.payload.idx = 229;\nmsg3.payload.svalue = \"\" + tempheetgas;\n\nmsg4={};\nmsg4.payload = {};\nmsg4.payload.idx = 8478;\nmsg4.payload.svalue = \"\" + (Number(flowbron)/60).toFixed(2);\n\nreturn [[msg1,msg2,msg3,msg4]];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":100,"wires":[["129792e8.3485ad"]]},{"id":"7e9b764d.7a6ff8","type":"function","z":"dac6bad9.affa28","name":"Temp to boiler","func":"var tempaanvoer = msg.payload.values.temperature_supply;\nmsg.payload = {};\nmsg.payload.idx = 8476;\nmsg.payload.svalue = \"\" + tempaanvoer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":300,"wires":[["129792e8.3485ad"]]},{"id":"dc7478fa.a77388","type":"switch","z":"dac6bad9.affa28","name":"State","property":"payload.values.heatpump_state3","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"15","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":150,"y":300,"wires":[["d2b39f4c.c357","69b2c1cb.61f9c"],["a009a0a.84f536","69b2c1cb.61f9c"],["ecebc268.c46b2","7e9b764d.7a6ff8"],["6a9d8919.82a6d8","69b2c1cb.61f9c"],["a01c244d.343c08","69b2c1cb.61f9c"]]},{"id":"d2b39f4c.c357","type":"function","z":"dac6bad9.affa28","name":"State: Off","func":"var wpstatus = msg.payload.values.heatpump_state3;\nmsg.payload = {};\nmsg.payload.idx = 236;\nmsg.payload.svalue = \"0\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":180,"wires":[["129792e8.3485ad"]]},{"id":"a009a0a.84f536","type":"function","z":"dac6bad9.affa28","name":"State: Heating","func":"var wpstatus = msg.payload.values.heatpump_state3;\nmsg.payload = {};\nmsg.payload.idx = 236;\nmsg.payload.svalue = \"10\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":220,"wires":[["129792e8.3485ad"]]},{"id":"ecebc268.c46b2","type":"function","z":"dac6bad9.affa28","name":"State: Hot water","func":"var wpstatus = msg.payload.values.heatpump_state3;\nmsg.payload = {};\nmsg.payload.idx = 236;\nmsg.payload.svalue = \"20\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":260,"wires":[["129792e8.3485ad"]]},{"id":"6a9d8919.82a6d8","type":"function","z":"dac6bad9.affa28","name":"State: Cooling","func":"var wpstatus = msg.payload.values.heatpump_state3;\nmsg.payload = {};\nmsg.payload.idx = 236;\nmsg.payload.svalue = \"30\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":380,"wires":[["129792e8.3485ad"]]},{"id":"a01c244d.343c08","type":"function","z":"dac6bad9.affa28","name":"State: Heating too?","func":"var wpstatus = msg.payload.values.heatpump_state3;\nmsg.payload = {};\nmsg.payload.idx = 236;\nmsg.payload.svalue = \"10\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":420,"wires":[["129792e8.3485ad"]]},{"id":"988b3763.1cc938","type":"comment","z":"dac6bad9.affa28","name":"Warmtepomp uitlezen","info":"","x":100,"y":40,"wires":[]},{"id":"4d292142.ab023","type":"function","z":"dac6bad9.affa28","name":"Alarms","func":"var code = msg.payload.values.errors[0].code;\nvar datumtijd = msg.payload.datetime;\n\n// Foutcodes en berichten\n// level 0:grijs, 1:groen, 2:geel, 3:oranje, 4:rood\nif (code  == 729) {\n    storing = \"Draaiveld fout, bel installateur\";\n    level = 4;\n} else if (code == 714) {\n    storing = \"Heetgas tapwater overschreden, reset automatisch\";\n    level = 1;\n} else if (code == 717) {\n    storing = \"Flow bronzijdig, bel installateur\";\n    level = 2;\n} else if (code == 732) {\n    storing = \"Storing koeling, bel installateur\";\n    level = 4;\n} else if (code != 0) {\n    storing = msg.payload.values.errors[0].code;\n    level = 2;\n}\n\nmsg.payload = {};\nmsg.payload.idx = 7958;\nmsg.payload.nvalue = level;\nmsg.payload.svalue = \"\" + datumtijd + \" : \" + storing;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":140,"wires":[["129792e8.3485ad"]]},{"id":"85d796e.c8a0a68","type":"moment","z":"dac6bad9.affa28","name":"Alarms","topic":"","input":"payload.values.errors[0].date","inputType":"msg","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD-MM-YY HH:mm:ss","locale":"en-GB","output":"payload.datetime","outputType":"msg","outTz":"Europe/Amsterdam","x":500,"y":140,"wires":[["4d292142.ab023"]]},{"id":"71545281.ed431c","type":"function","z":"dac6bad9.affa28","name":"Temp heating/cooling","func":"var tempaanvoer = msg.payload.values.temperature_supply;\nvar tempretour = msg.payload.values.temperature_supply;\n\nmsg1={};\nmsg1.payload = {};\nmsg1.payload.idx = 188;\nmsg1.payload.svalue = \"\" + tempaanvoer;\n\nmsg2={};\nmsg2.payload = {};\nmsg2.payload.idx = 189;\nmsg2.payload.svalue = \"\" + tempretour;\n\n//Send 0 when the boiler is not being heated\nmsg3={};\nmsg3.payload = {};\nmsg3.payload.idx = 8476;\nmsg3.payload.svalue = \"0\";\n\nreturn [[msg1,msg2,msg3]];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":340,"wires":[["129792e8.3485ad"]]},{"id":"38b42883.a55548","type":"debug","z":"dac6bad9.affa28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":60,"wires":[]},{"id":"f68b72d9.9ec05","type":"switch","z":"dac6bad9.affa28","name":"Source Flow true","property":"payload.values.Durchfluss_WQ","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":460,"wires":[["55aa5d10.c19df4"]]},{"id":"55aa5d10.c19df4","type":"function","z":"dac6bad9.affa28","name":"Only send Source temp when source is flowing","func":"var tempbronin = msg.payload.values.temperature_heat_source_in;\nvar tempbronuit = msg.payload.values.temperature_heat_source_out;\n\nmsg1={};\nmsg1.payload = {};\nmsg1.payload.idx = 190;\nmsg1.payload.svalue = \"\" + tempbronin;\n\nmsg2={};\nmsg2.payload = {};\nmsg2.payload.idx = 191;\nmsg2.payload.svalue = \"\" + tempbronuit;\n\nreturn [[msg1,msg2]];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":460,"wires":[["129792e8.3485ad"]]},{"id":"69b2c1cb.61f9c","type":"switch","z":"dac6bad9.affa28","name":"Source Flow true","property":"payload.values.Durchfluss_WQ","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":340,"wires":[["71545281.ed431c"]]},{"id":"a9f52ee.ae4ffd","type":"mqtt-broker","name":"MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
