nodered-flow
[{"id":"837cb573.4f1348","type":"luxtronik2 read","z":"dac6bad9.affa28","name":"Warmtepomp","host":"10.10.10.4","port":"8888","x":240,"y":100,"wires":[["4a704d76.140c84","dc7478fa.a77388","85d796e.c8a0a68","38b42883.a55548"]]},{"id":"e2489998.12c058","type":"inject","z":"dac6bad9.affa28","name":"WP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":90,"y":100,"wires":[["837cb573.4f1348"]]},{"id":"129792e8.3485ad","type":"mqtt out","z":"dac6bad9.affa28","name":"MQTT","topic":"domoticz/in","qos":"0","retain":"","broker":"a9f52ee.ae4ffd","x":830,"y":260,"wires":[]},{"id":"4a704d76.140c84","type":"function","z":"dac6bad9.affa28","name":"Temperaturen","func":"var tempbuiten = msg.payload.values.temperature_outside;\nvar tempbronin = msg.payload.values.temperature_heat_source_in;\nvar tempbronuit = msg.payload.values.temperature_heat_source_out;\nvar tempheetwater = msg.payload.values.temperature_hot_water;\nvar tempheetgas = msg.payload.values.temperature_hot_gas;\n\nmsg1={};\nmsg1.payload = {};\nmsg1.payload.idx = 924;\nmsg1.payload.svalue = \"\" + tempbuiten;\n\nmsg2={};\nmsg2.payload = {};\nmsg2.payload.idx = 190;\nmsg2.payload.svalue = \"\" + tempbronin;\n\nmsg3={};\nmsg3.payload = {};\nmsg3.payload.idx = 191;\nmsg3.payload.svalue = \"\" + tempbronuit;\n\nmsg4={};\nmsg4.payload = {};\nmsg4.payload.idx = 200;\nmsg4.payload.svalue = \"\" + tempheetwater;\n\nmsg5={};\nmsg5.payload = {};\nmsg5.payload.idx = 229;\nmsg5.payload.svalue = \"\" + tempheetgas;\n\nreturn [[msg1,msg2,msg3,msg4,msg5]];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":100,"wires":[["129792e8.3485ad"]]},{"id":"7e9b764d.7a6ff8","type":"function","z":"dac6bad9.affa28","name":"Temp aanvoer boiler","func":"var tempaanvoer = msg.payload.values.temperature_supply;\nmsg.payload = {};\nmsg.payload.idx = 8476;\nmsg.payload.svalue = \"\" + tempaanvoer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":300,"wires":[["129792e8.3485ad"]]},{"id":"6376a0af.d78d5","type":"function","z":"dac6bad9.affa28","name":"Temp retour verwarming / koeling","func":"var tempretour = msg.payload.values.temperature_supply;\nmsg.payload = {};\nmsg.payload.idx = 189;\nmsg.payload.svalue = \"\" + tempretour;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":380,"wires":[["129792e8.3485ad"]]},{"id":"dc7478fa.a77388","type":"switch","z":"dac6bad9.affa28","name":"Status","property":"payload.values.heatpump_state3","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"15","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":190,"y":320,"wires":[["d2b39f4c.c357","71545281.ed431c","6376a0af.d78d5"],["a009a0a.84f536","71545281.ed431c","6376a0af.d78d5"],["ecebc268.c46b2","7e9b764d.7a6ff8"],["6a9d8919.82a6d8","71545281.ed431c","6376a0af.d78d5"],["a01c244d.343c08","71545281.ed431c","6376a0af.d78d5"]]},{"id":"d2b39f4c.c357","type":"function","z":"dac6bad9.affa28","name":"Uit","func":"var wpstatus = msg.payload.values.heatpump_state3;\nmsg.payload = {};\nmsg.payload.idx = 236;\nmsg.payload.svalue = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["129792e8.3485ad"]]},{"id":"a009a0a.84f536","type":"function","z":"dac6bad9.affa28","name":"Verwarming","func":"var wpstatus = msg.payload.values.heatpump_state3;\nmsg.payload = {};\nmsg.payload.idx = 236;\nmsg.payload.svalue = \"10\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":220,"wires":[["129792e8.3485ad"]]},{"id":"ecebc268.c46b2","type":"function","z":"dac6bad9.affa28","name":"Heet water","func":"var wpstatus = msg.payload.values.heatpump_state3;\nmsg.payload = {};\nmsg.payload.idx = 236;\nmsg.payload.svalue = \"20\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["129792e8.3485ad"]]},{"id":"6a9d8919.82a6d8","type":"function","z":"dac6bad9.affa28","name":"Koeling","func":"var wpstatus = msg.payload.values.heatpump_state3;\nmsg.payload = {};\nmsg.payload.idx = 236;\nmsg.payload.svalue = \"30\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":420,"wires":[["129792e8.3485ad"]]},{"id":"a01c244d.343c08","type":"function","z":"dac6bad9.affa28","name":"Ook verwarming?","func":"var wpstatus = msg.payload.values.heatpump_state3;\nmsg.payload = {};\nmsg.payload.idx = 236;\nmsg.payload.svalue = \"10\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":460,"wires":[["129792e8.3485ad"]]},{"id":"988b3763.1cc938","type":"comment","z":"dac6bad9.affa28","name":"Warmtepomp uitlezen","info":"","x":100,"y":40,"wires":[]},{"id":"4d292142.ab023","type":"function","z":"dac6bad9.affa28","name":"Storing","func":"var code = msg.payload.values.errors[0].code;\nvar datumtijd = msg.payload.datetime;\n\n// Foutcodes en berichten\n// level 0:grijs, 1:groen, 2:geel, 3:oranje, 4:rood\nif (code  == 729) {\n    storing = \"Draaiveld fout, bel installateur\";\n    level = 4;\n} else if (code == 714) {\n    storing = \"Heetgas tapwater overschreden, reset automatisch\";\n    level = 1;\n} else if (code == 717) {\n    storing = \"Flow bronzijdig, bel installateur\";\n    level = 2;\n} else if (code == 732) {\n    storing = \"Storing koeling, bel installateur\";\n    level = 4;\n} else if (code != 0) {\n    storing = msg.payload.values.errors[0].code;\n    level = 2;\n}\n\nmsg.payload = {};\nmsg.payload.idx = 7958;\nmsg.payload.nvalue = level;\nmsg.payload.svalue = \"\" + datumtijd + \" : \" + storing;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":140,"wires":[["129792e8.3485ad"]]},{"id":"85d796e.c8a0a68","type":"moment","z":"dac6bad9.affa28","name":"Storing","topic":"","input":"payload.values.errors[0].date","inputType":"msg","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD-MM-YY HH:mm:ss","locale":"en-GB","output":"payload.datetime","outputType":"msg","outTz":"Europe/Amsterdam","x":220,"y":140,"wires":[["4d292142.ab023"]]},{"id":"71545281.ed431c","type":"function","z":"dac6bad9.affa28","name":"Temp aanvoer verwarming / koeling","func":"msg1={};\nvar tempaanvoer = msg.payload.values.temperature_supply;\nmsg1.payload = {};\nmsg1.payload.idx = 188;\nmsg1.payload.svalue = \"\" + tempaanvoer;\n\nmsg2={};\nmsg2.payload = {};\nmsg2.payload.idx = 8476;\nmsg2.payload.svalue = \"0\";\n\nreturn [[msg1,msg2]];\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":340,"wires":[["129792e8.3485ad"]]},{"id":"38b42883.a55548","type":"debug","z":"dac6bad9.affa28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":280,"y":240,"wires":[]},{"id":"a9f52ee.ae4ffd","type":"mqtt-broker","name":"MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
